/*RESETING STYLES*/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4,
h5 {
  text-wrap: balance;
  margin: 0;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

body {
  background-color: rgb(69, 91, 65);
}

.app {
  min-height: fit-content;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 2vw;
  font-size: clamp(20px, 2vw, 40px);
  margin: 0;
}

nav,
.main-container {
  padding: 30px clamp(30px, 4vw, 500px);
}
.main-container {
  height: 100%;
  overflow: scroll;
  padding: 2vw 4vw;
}

.course {
  padding: 2vw 4vw;
  background-color: rgb(44, 76, 59);
  display: flex;
  position: relative;
  margin-bottom: clamp(10px, 3vw, 40px);
}

h2,
.dashboard h1,
.dashboard h3 {
  margin-bottom: 0.4em;
}

.course--expanded {
  display: grid;
  gap: 2vw;
  grid-template-columns: minmax(200px, 500px) 1fr;
  flex-direction: column;
}

.course > .btn {
  position: absolute;
  right: 2vw;
}
.course--expanded > .btn {
  top: 2vw;
}

.course--completed {
  filter: brightness(0.8);
  opacity: 0.9;
}

.course .thumbnail {
  max-width: 300px;
  max-height: 200px;
  margin-right: 2vw;
}

.thumbnail {
  text-align: center;
  overflow: hidden;
}

.course--expanded .thumbnail {
  max-height: 200px;
}

.thumbnail > img {
  object-fit: contain;
}

.list h2,
.info__main .btn {
  margin-top: 0.8em;
}

.search-bar {
  margin-bottom: 0.9vw;
}

.list,
.syllabus {
  display: flex;
  flex-direction: column;
}

.list {
  gap: 1vw;
}

.syllabus {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  gap: 0.5vw;
  padding: 30px clamp(30px, 4vw, 500px);
}
.centered-message {
  transform: translateY(-150px);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}
