/*RESETING STYLES*/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4,
h5 {
  text-wrap: balance;
  margin: 0;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

body {
  display: block;
  background-color: rgb(69, 91, 65);
}

.app {
  min-height: fit-content;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 2vw;
  font-size: clamp(20px, 2vw, 40px);
  margin: 0;
}

nav ul li:hover {
  background-color: rgb(69, 91, 65);
}

nav,
.main-container {
  padding: 30px clamp(30px, 4vw, 500px);
}
.main-container {
  height: 100%;
  overflow: scroll;
  padding: 2vw 4vw;
}

.course {
  padding: 2vw 4vw;
  background-color: rgb(44, 76, 59);
  display: flex;
  position: relative;
  margin-bottom: clamp(10px, 3vw, 40px);
  border-radius: 10px;
  gap: 2vw;
}

h2,
.dashboard h1,
.dashboard h3 {
  margin-bottom: 0.4em;
}
h1 {
  font-size: clamp(1.4rem, 4vw, 2.5rem);
}

h2 {
  font-size: clamp(1rem, 3.5vw, 2.2rem);
}

h3 {
  font-size: clamp(0.7rem, 2vw, 1.6rem);
}

p,
h4 {
  font-size: clamp(0.7rem, 1.2vw, 1.6rem);
}

.course--expanded {
  display: flex;
  gap: 2vw;
  flex-direction: column;
}

.course > .btn {
  position: absolute;
  right: 2vw;
}
.course--expanded > .btn {
  top: 2vw;
}

.course--completed {
  filter: brightness(0.8);
  opacity: 0.9;
}

.course--expanded .thumbnail {
  margin-right: 2vw;
}

.thumbnail {
  max-width: 300px;
  max-height: 200px;
  text-align: center;
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.course--expanded .thumbnail {
  max-height: 200px;
}

.thumbnail > img {
  object-fit: contain;
}

.list h2,
.info__main .btn {
  margin-top: 0.8em;
}

.search-bar {
  width: 100%;
  background-color: rgb(69, 91, 65);
  position: fixed;
  z-index: 2;
  top: 100px;
  padding-bottom: 0.5vw;
}

.list,
.syllabus {
  display: flex;
  flex-direction: column;
}

.list {
  gap: 1vw;
}

.syllabus {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  gap: 0.5vw;
  padding: 30px clamp(30px, 4vw, 500px);
}
.centered-message {
  transform: translateY(-150px);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}

.container {
  position: relative;
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* 2xl */
@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}

/* xl */
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}

/* lg */
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }

  .course {
    margin-bottom: 50px;
  }
  .course > .btn {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    right: -4vw;
    top: -4vw;
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
}

/* md */
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }

  .course > .btn {
    position: absolute;
    right: 2vw;
  }
  .screen {
    display: flex;
    flex-direction: column;
  }

  .thumbnail {
    width: 100%;
    margin-bottom: 1.8em;
  }
}

/* xs */
@media (max-width: 475px) {
  .container {
    min-width: 320px;
    display: flex;
    flex-direction: column;
    padding: 1vw;
  }

  .thumbnail {
    align-self: center;
  }

  .course > .btn {
    position: static;
    margin: 0.8em;
  }

  .course {
    max-width: 80%;
    padding: 30px 20px;
  }
}
